<title>CropiGo About</title>   

{% include 'public_header.html' %}
<section class="about_main">
    <br><br>
    <h1>Cropi<span style="color: #2ed47b;">Go</span> - Crop Recomendaton System</h1>
    <br><br>
    <div class="about-section">
        <div class="about-content">
            <h3>Cropi<span style="color: #2ed47b;">Go</span> is an ML based Crop Recomendaton system, which is a computer-based solution
                that uses data analytics and artificial intelligence techniques to recommend suitable crop 
                types for a particular location or farmer.</h3>
                <br><br><br>
                <h3>
                    The recommendations provided by the system can help farmers make informed decisions what to plant and when,thereby increasing crop yield and reducing the risk of crop failure. Additionally, the system can  also help farmers optimize their use of resources, such as fertilizers and pesticides, by recommending the most effective inputs for a particular crop.
                </h3>
                <br><br>
                <h4>Currently the Cropi<span style="color: #2ed47b;">Go</span> is in beta release! Try it out by creating an account !</h4>
                
        </div>
        <div class="about-pic">
            <img src="/static/cropigohome.png" class="about-picture" alt="" srcset="">
    </div>
</div>
</section>
{% include 'footer.html'%}