{% include 'adminhead.html'%}
    
<section class="admin-dashboard">
    <div class="navbar">
        <br>
        <div class="nav-welcome">
            <h3>Hey {{session.name}} ,Welcome!</h3>
        </div>
        <div class="nav-logout">
            <h4><a href="/logout">Logout</a></h4> 
        </div>
        
    </div>
    <div class="header">
        <br><br>
        <div>
            <h2>Cropi<span style="color: #2ed47b;">Go</span> - lets farm in a  better way</h2>
        </div>
      
    </div>
    <br>   
    <div class="user-search-panel"><!-- user searching place-->
        <div class="user-search-bar">

            <form action="" method="post">
                <br><br>
                <h3>Search for a User:</h3><br>
                <label for="user-search-name">UserName:</label>
                <input type="text" name="user-search-name" placeholder="type 'all' for viewing all users">
                <br><br><br>
                <button type="submit" name="user-search">Search User</button>
                
            </form>
            <br>
        </div>
    
        <div class="user-data">
            <table>
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>FullName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Place</th>
                </tr>
                </thead>    
                <tbody>
                {% for row in data %}    
                        <tr>
                            <td>{{row.user_id}}</td>
                            <td>{{row.full_name}}</td>
                            <td>{{row.phone_number}}</td>
                            <td>{{row.email_id}}</td>
                            <td>{{row.place}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br>
    <div class="user-complaints">
        <h3>Check for Compliants from Users</h3>
        <br><br>
        <div class="user-complaints-panel">
            <div class="view-complaint">
                <br>
                <br>
                <form action="" method="post">
                    <h4>View pending Querries:</h4><br><br>
                    <button type="submit" name="complaint-check">Check Complaints</button>
                </form>
                <br>
                <br>
            </div>
            <div class="complaint-table">
                <table>
                    <thead>
                    <tr>
                        <th>Complaint ID</th>
                        <th>Date</th>
                        <th>Complaint</th>
                    </tr>
                    </thead>    
                    <tbody>
                        {% for row in complaint_data %}    
                            <tr>
                            <td>{{row.complaint_id}}</td>
                            <td>{{row.date}}</td>
                            <td>{{row.complaint}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="reply-area">
                <br>
                <form action="" method="post">
                    <h5>Send reply for complaints from here:</h5><br><br>
                        <label for="complaintid">Complait Id</label>
                        <input type="text" name="complaintid"> <br><br>
                        <label for="reply-message">Reply Message</label>
                        <textarea name="reply-message" cols="20" rows="1"></textarea>
                        <br><br>
                        <button type="submit" name="reply">Send Reply</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    <br><br><br>

</section>
{% include 'footer.html'%}