<!--this page is for general crop prediction-->

<title>Cropigo -User</title>
{% include 'userhead.html' %}
<br><br><br>
<h3>Choose how you need to predict crop</h3>
<br><br><br>
<section class="dashboard-area">
    <div class="gen-crop" id="gen-vil">
        <a href="village"> <h4>Based on village <span style="font-size: 10px;"> (Kerala)</span>&nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
    </div>

    <div class="gen-crop" >
        <a href="gencropprediction"><h4> Crop Prediction <span style="font-size: 10px;">(General)</span>&nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
    </div>


</section>
<section class="croppredict_footer">
   
</section>


</section><!--end of user-dashboard section-->
</body>
</html>