<!--this page is for general crop prediction-->

<title>Cropigo -User</title>
{% include 'userhead.html' %}
<br>
<h3>Input values for Crop prediction</h3>
<br><br>

<a href="userdashboard" class="back">Back to Dashboard</a>
<br><br>
<section class="gen-crop-session">
<br><br>
    <div class="gen-crop-recomendation">
        <div class="crop-predict" >
            <h4>Predict Crop to farm</h4>
            <form action="" method="post">
                
                <br><br>
                <label for="nitrogen">Ratio of Nitrogen in soil:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="nitrogen" required placeholder="integer value" autocomplete="off"><br><br>
                <label for="phosphorus">Ratio of Phosphorus in soil:&nbsp;&nbsp;</label>
                <input type="text" name="phosphorus" required placeholder="integer value" autocomplete="off"><br><br>
                <label for="potassium">Ratio of Potassium in soil:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="potassium" required placeholder="integer value" autocomplete="off"><br><br>
                <label for="temperature">Temperature value of soil:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="temperature" required autocomplete="off"><br><br>
                <label for="humidity">Avg % of Humidity near soil:</label>
                <input type="text" name="humidity" required autocomplete="off"><br><br>
                <label for="ph">pH value of soil: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="ph" required autocomplete="off"><br><br>
                <label for="rainfall">Avg. Rainfall value in mm:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="rainfall" required autocomplete="off"><br><br><br>
                <button type="submit" name="crop-predict"><h4>Predict Crop</h4></button>
                <br><br>
            </form>
        </div>
      
    </div>

</section>
</section><!--end of user-dashboard section-->