<title>CropiGo</title>   

{% include 'public_header.html' %}
<section class="home_main">
    <br><br>
    <h1>Cropi<span style="color: #2ed47b;">Go</span> - Crop Recomendaton System</h1>
    
    <div class="home-section">
        <div class="home-content">
            <h2>Cropi<span style="color: #2ed47b;">Go</span> The Farming Partner</h2>
            <br><br>
            <h3 class="TryOut"><a href="login">TryOut &#x21E2;</a></h3>
        </div>
        <div class="home-pic">
            <img src="/static/cropigohome.png" class="home-picture" alt="" srcset="">
    </div>
</section>

{% include 'footer.html' %}
