<title>login</title>
{% include 'public_header.html' %}
<section class="login">
    <br><br>
    <h1>Welcome back!</h1>
    <br><br>
    <div class="login-form">
        <form action="" method="post">
            <br>
            <h3>Cropi<span style="color: #2ed47b;">Go</span> - lets farm better way</h3>
            <br><br>
            <label for="username">Username <input type="text" name="username"></label>
            <br><br><br>
            <label for="password">Password <input type="text" name="password"></label>
            <br><br><br><br>
            <button name="login" value="Login">Login</button><br><br>
        </form>
    </div>
</section>    

{% include 'footer.html' %}