{% include 'public_header.html' %}
<title>CropiGo SignUp</title>
<section class="signup">
    <br><br>
    <h1 id="create">Create an Account</h1>
    <br>
    <h3 id="message">{{message}}</h3>
    <br><br>
    <div class="signup-form" id="signup-form">
        <form action="" method="post" >
            <br>
            <h3>Cropi<span style="color: #2ed47b;">Go</span> - lets farm better way</h3><br><br>
            <label for="name">Full Name <input type="text" name="name" required autocomplete="off"></label>
            <br><br><br>
            <label for="email">Email Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email" autocomplete="off" required></label>
            <br><br><br>
            <label for="phone_number">Mobile No&nbsp;<input type="text" name="phone_number" required autocomplete="off"></label>
            <br><br><br>
            <label for="place">Place &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="place" required autocomplete="off"></label>
            <br><br><br>
            <label for="username">Username <input type="text" name="username" required autocomplete="off"></label>
            <br><br><br>
            <label for="password">Password <input type="text" name="password" required minlength="8" autocomplete="off"></label>
            <br><br><br>
            <button name="signup">Sign Up</button><br><br><br>
        </form>
    </div>
    <br><br>
</section>
<script>
    msg=document.getElementById("message").innerHTML
    console.log(msg)
    if (msg=="Account Created Succesfully!!"){
        document.getElementById("message").style.color="green";
        document.getElementById("signup-form").style.display="None";
        document.getElementById("message").style.fontSize="200%";
        document.getElementById("create").style.display="None";

    }
    else if(msg=="Account Already Exists!"){
        document.getElementById("message").style.color="red";
    }

</script>
{% include 'footer.html' %}