<title>Cropigo -User</title>
{% include 'userhead.html' %}
<br><br><br>
<section class="dashboard-area">
    <div class="complaint">
        <a href="usercomplaints"> <h4>Querries and Messages</h4></a>
    </div>

    <div class="crop-recomendation">
        <div class="crop-predict" >
            <h4>Predict Crop to farm</h4>
            <form action="" method="post">
                
                <br><br>
                <label for="nitrogen">Nitrogen value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="nitrogen"><br><br>
                <label for="phosphorus">Phosphorus value:&nbsp;&nbsp;</label>
                <input type="text" name="phosphorus"><br><br>
                <label for="potassium">Potassium value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="potassium"><br><br>
                <label for="temperature">Temperature value:</label>
                <input type="text" name="temperature"><br><br>
                <label for="humidity">Humidity value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="humidity"><br><br>
                <label for="ph">pH value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="ph"><br><br><br>
                <button type="submit" name="crop-predict"><h4>Predict Crop</h4></button>
                <br><br>
            </form>
        </div>
        <div class="crop-result">
            <h3>{{data}}</h3>
        </div>
    </div>

    

</section>

</section><!--end of user-dashboard section-->
</body>
</html>