<title>CropiGo usercomplaints</title>
{% include 'userhead.html' %}

<br>
<h3>Send your Querries and Complaints</h3>
<br>
<section class="complaint-dashboard">
    <div class="complaint-space">
        <br><br>
        <form action="" method="post">
            <h5>Type in your querries or comments ..</h5>
            <br>
            <textarea name="complaint-data"  cols="50" rows="5"></textarea>
            <br><br>
            <button type="submit" name="complaint-submit">Submit Querry</button>
        </form>

    </div>


    <div class="reply-space"></div>
</section>

