<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/user.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
    
        <div class="navbar">
            <br><br>
            <div class="nav-welcome">
                <h3>Hey {{session.name}} ,Welcome!</h3>
            </div>
            <div class="nav-logout">
                <h4><a href="/logout">Logout</a></h4> 
            </div>
            
        </div>
        <div class="header">
            <br><br>
            <div>
                <h2>Cropi<span style="color: #2ed47b;">Go</span> - lets farm in a  better way</h2>
            </div>
        </div>