<title>Cropigo -User</title>
{% include 'userhead.html' %}
<br><br><br>
<section class="dashboard-area">
    <div class="gen-crop">
        <a href="croppredict"><h4> Crop Prediction &nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
    </div>

    <div class="complaint">
        <a href="usercomplaints"> <h4>Querries and Messages</h4></a>
    </div>
</section><!--end of user-dashboard section-->
<br><br>
<h3>Some usefull links</h3>
<!--section for gov links-->
<section class="gov-links">
    <div class="agri-office">
        <img class="gov_img" src="/static/images/undraw_hello_re_3evm.svg" alt="" srcset="">
        <br>
        <a href="https://www.google.com/maps/search/Agricultural+office+kerala/@9.8903554,76.4473489,8z/data=!3m1!4b1" target="_blank">Agriculture Office</a>
    </div>
    <div class="soil-testing">
        <img class="gov_img" src="/static/images/undraw_soiltesting.svg" alt="" srcset="">
        <br>    
        <a href="https://www.google.com/maps/search/soil+testing+lab+kerala/@10.1007565,76.263823,8z/data=!3m1!4b1" target="_blank">Soil Testing</a>
    </div>
    <div class="ker-web">
        <img class="gov_img" src="/static/images/undraw_google_docs_re_evm3.svg" alt="" srcset="">
        <br>    
        <a href="https://keralaagriculture.gov.in/en/schemes/" target="_blank">Gov Schemes</a>
    </div>
</section>
</body>
</html>     